In [1]:
import pandas as pd
import numpy as np

In [3]:
csv_input = pd.read_csv(filepath_or_buffer="t_retweet.csv", encoding="utf_8", sep=",")
print(csv_input.size)

145203

In [4]:
print(csv_input.tail(3))

            tweetID  retweet                 date
48398  1.081755e+18        0  2019-01-06 00:00:00
48399  1.081771e+18        0  2019-01-06 00:00:00
48400           NaN     9777                  NaN

In [5]:
print(len(csv_input))

48401

In [4]:
retweet = csv_input.query('retweet == 1')

In [5]:
n_retweet = csv_input.query('retweet == 0')

In [23]:
print(retweet.dtypes)

tweetID    float64
retweet      int64
date        object
dtype: object

In [14]:
print(len(n_retweet))

38623

In [6]:
tweet_input = pd.read_csv(filepath_or_buffer="t_tweet_data.csv", encoding="utf_8", sep=",")

In [7]:
print(tweet_input.dtypes)

tweetID       float64
date           object
tweet          object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
dtype: object

In [8]:
tweet_input["tweetID"].astype(np.float64)

0        7.111280e+17
1        7.113160e+17
2        7.113431e+17
3        7.113729e+17
4        7.114051e+17
5        7.114589e+17
6        7.115279e+17
7        7.115409e+17
8        7.116799e+17
9        7.117198e+17
10       7.117257e+17
11       7.117562e+17
12       7.117613e+17
13       7.117681e+17
14       7.117692e+17
15       7.117693e+17
16       7.117696e+17
17       7.117752e+17
18       7.117819e+17
19       7.117910e+17
20       7.118004e+17
21       7.120597e+17
22       7.120679e+17
23       7.120697e+17
24       7.120746e+17
25       7.120808e+17
26       7.121094e+17
27       7.121112e+17
28       7.121237e+17
29       7.121311e+17
             ...
48842    1.081392e+18
48843    1.081425e+18
48844    1.081438e+18
48845    1.081439e+18
48846    1.081440e+18
48847    1.081442e+18
48848    1.081454e+18
48849    1.081473e+18
48850    1.081473e+18
48851    1.081473e+18
48852    1.081474e+18
48853    1.081474e+18
48854    1.081474e+18
48855    1.081474e+18
48856    1.081487e+18
48857    1.081513e+18
48858    1.081517e+18
48859    1.081536e+18
48860    1.081575e+18
48861    1.081696e+18
48862    1.081715e+18
48863    1.081725e+18
48864    1.081745e+18
48865    1.081745e+18
48866    1.081745e+18
48867    1.081745e+18
48868    1.081747e+18
48869    1.081749e+18
48870    1.081755e+18
48871    1.081771e+18
Name: tweetID, Length: 48872, dtype: float64

In [24]:
#retweetしたデータ
r_data = pd.merge(retweet, tweet_input, how="inner", on="tweetID")

In [14]:
#retweetしなかったデータ
nr_data = pd.merge(n_retweet, tweet_input, how="inner", on="tweetID")

In [17]:
print(len(nr_data["Unnamed: 3"]))

38622

In [25]:
print(r_data.dtypes)

tweetID       float64
retweet         int64
date_x         object
date_y         object
tweet          object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
dtype: object

In [19]:
r_data["tweeet2"] = r_data["tweet"] + r_data['Unnamed: 3'] + r_data['Unnamed: 4'] + r_data['Unnamed: 5'] + r_data['Unnamed: 6']

In [20]:
print(r_data.tail(3))

           tweetID  retweet               date_x               date_y  \
9774  1.081474e+18        1  2019-01-05 00:00:00  2019-01-05 00:00:00
9775  1.081487e+18        1  2019-01-05 00:00:00  2019-01-05 00:00:00
9776  1.081725e+18        1  2019-01-06 00:00:00  2019-01-06 00:00:00

                                                  tweet Unnamed: 3 Unnamed: 4  \
9774  ＜祝成人！ドリンク1杯無料！＞\n1/12（土）〜14（日）の期間、今年新成人を迎える方にフ...        NaN        NaN
9775  アニメ映画  の原案者であり、特徴ある猫のキャラクターと独特のファンタジーで知られる漫画家 ...        NaN        NaN
9776                                博物館の妖怪切り絵がすごい件\n           NaN        NaN

     Unnamed: 5 Unnamed: 6 tweeet2
9774        NaN        NaN     NaN
9775        NaN        NaN     NaN
9776        NaN        NaN     NaN

In [21]:
r_data.drop(['Unnamed: 3', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6'], axis=1, inplace=True)

In [23]:
print(r_data.head(3))

        tweetID  retweet               date_x               date_y  \
0  7.113431e+17        1  2016-03-20 00:00:00  2016-03-20 00:00:00
1  7.124711e+17        1  2016-03-23 00:00:00  2016-03-23 00:00:00
2  7.223425e+17        1  2016-04-19 00:00:00  2016-04-19 00:00:00

                                               tweet tweeet2
0                           本日も遠野風の丘軒下市、よろしくお願いします。      NaN
1  【遠野山ぶどうワイン2015】本日より発売開始です！！駅前売店でも入荷しております♪数量限定...     NaN
2  骨寺荘園室より\n【世界遺産 拡張資産 巡回バス】のお知らせ\n ４月23日（土）に世界遺産...     NaN

In [27]:
r_data['tweet2'] = r_data[['tweet', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']].apply(lambda x: '{}_{}_{}'.format(x[0], x[1], x[2],x[3],x[4]), axis=1)

In [31]:
nr_data['tweet2'] = nr_data[['tweet', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']].apply(lambda x: '{}_{}_{}'.format(x[0], x[1], x[2],x[3],x[4]), axis=1)

In [32]:
print(nr_data.head(3))

        tweetID  retweet               date_x               date_y  \
0  7.111280e+17        0  2016-03-19 00:00:00  2016-03-19 00:00:00
1  7.113160e+17        0  2016-03-20 00:00:00  2016-03-20 00:00:00
2  7.113729e+17        0  2016-03-20 00:00:00  2016-03-20 00:00:00

                                               tweet Unnamed: 3 Unnamed: 4  \
0  きょうは来てくれてありがとっ♡\nお買い物してくれてありがとっ♡\n21日は陸前高田にねば〜...        NaN        NaN
1  みんなゆめ☆も〜にん☆彡\n\nかさ上げに\n思いはひとつ\n笑顔かなっ♪\n       ...        NaN        NaN
2  【遠野風の丘軒下市】ラム肉まんが通常220円のところ200円、2つで300円で販売しています...        NaN        NaN

  Unnamed: 5 Unnamed: 6                                             tweet2
0        NaN        NaN  きょうは来てくれてありがとっ♡\nお買い物してくれてありがとっ♡\n21日は陸前高田にねば〜...
1        NaN        NaN  みんなゆめ☆も〜にん☆彡\n\nかさ上げに\n思いはひとつ\n笑顔かなっ♪\n       ...
2        NaN        NaN  【遠野風の丘軒下市】ラム肉まんが通常220円のところ200円、2つで300円で販売しています...

In [29]:
r_data.drop(['Unnamed: 3', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6'], axis=1, inplace=True)

In [30]:
print(r_data.head(3))

        tweetID  retweet               date_x               date_y  \
0  7.113431e+17        1  2016-03-20 00:00:00  2016-03-20 00:00:00
1  7.124711e+17        1  2016-03-23 00:00:00  2016-03-23 00:00:00
2  7.223425e+17        1  2016-04-19 00:00:00  2016-04-19 00:00:00

                                               tweet  \
0                           本日も遠野風の丘軒下市、よろしくお願いします。
1  【遠野山ぶどうワイン2015】本日より発売開始です！！駅前売店でも入荷しております♪数量限定...
2  骨寺荘園室より\n【世界遺産 拡張資産 巡回バス】のお知らせ\n ４月23日（土）に世界遺産...

                                              tweet2
0                   本日も遠野風の丘軒下市、よろしくお願いします。 _nan_nan
1  【遠野山ぶどうワイン2015】本日より発売開始です！！駅前売店でも入荷しております♪数量限定...
2  骨寺荘園室より\n【世界遺産 拡張資産 巡回バス】のお知らせ\n ４月23日（土）に世界遺産...

In [3]:
import MeCab

tagger = MeCab.Tagger(r'-Ochasen -d G:\neologd')
sample = "8月3日に放送された「中居正広の金曜日のスマイルたちへ」"
tagger.parse(sample)

'8月3日\tハチガツミッカ\t8月3日\t名詞-固有名詞-一般\t\t\nに\tニ\tに\t助詞-格助詞-一般\t\t\n放送\tホウソウ\t放送\t名詞-サ変接続\t\t\nさ\tサ\tする\t動詞-自立\tサ変・スル\t未然レル接続\nれ\tレ\tれる\t動詞-接尾\t一段\t連用形\nた\tタ\tた\t助動詞\t特殊・タ\t基本形\n「\t「\t「\t記号-括弧開\t\t\n中居正広の金曜日のスマイルたちへ\tナカイマサヒロノキンヨウビノスマイルタチヘ\t中居正広の金曜日のスマイルたちへ\t名詞-固有名詞-一般\t\t\n」\t」\t」\t記号-括弧閉\t\t\nEOS\n'